<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CalorieCalculator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png"
          href="https://user-images.githubusercontent.com/34577873/43033510-24d8f684-8cd4-11e8-9b07-d22248354f59.png">
</head>
<body class="index-page">

<nav class="navbar navbar-dark bg-success">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">CC</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/full-statistics">Full Statistics</a></li>

            <li><a href="/user/logout">Logout</a></li>
        </ul>
    </div>
</nav>
<main>
    <div class="add-ingredient-box" th:object="${id}">
        <h1>Add ingredient</h1>
        <form th:object="${ingredientAddBindingModel}" th:action="@{/ingredient/add/(id=${id})}" method="POST" enctype="multipart/form-data">

            <div>
                <p>Name of the ingredient</p>
                <input th:field="*{name}" th:errorclass="bg-danger" type="text" name="name" placeholder="Enter name">
                <small th:each = "e : ${#fields.errors('name')}" th:text = "${e}" class="text-danger"></small>
            </div>
            <div>
                <p>Total grams of the ingredient</p>
                <input th:field="*{grams}" th:errorclass="bg-danger" type="number" name="grams" placeholder="Enter grams">
                <small th:each = "e : ${#fields.errors('grams')}" th:text = "${e}" class="text-danger"></small>
            </div>
            <div>
                <p>Calories per 100 grams</p>
                <input th:field="*{caloriePer100grams}" th:errorclass="bg-danger" type="number" name="caloriePer100grams" placeholder="Enter caloriesPer100grams">
                <small th:each = "e : ${#fields.errors('caloriePer100grams')}" th:text = "${e}" class="text-danger"></small>
            </div>
            <div>
                <p class="ui-icon-image">Select profile photo</p>
                <input type="file" name="img" placeholder="Enter image" accept="image/*">
            </div>

            <input type="submit" name="submit" value="Add ingredient">
        </form>
    </div>
</main>

</body>
</html>