<!DOCTYPE html>
<html lang="en">
<head>
    <title>CalorieCalculator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png"
          href="https://user-images.githubusercontent.com/34577873/43033510-24d8f684-8cd4-11e8-9b07-d22248354f59.png">
</head>
<body class="index-page">

<nav class="navbar navbar-dark bg-success">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">CC</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
            <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
<main>
    <h1 class="logo-index" style="font-size:9vw;">Calorie Calculator</h1>
    <div class="buttons">
        <a class = "login-button" href="/user/login">Login</a>
        <a class = "register-button" href="/user/register">Register</a>
    </div>

</main>

</body>
</html>

